node_modules
frontend/node_modules
backend/node_modules
frontend/dist
data
logs
docs
scripts
.wwebjs_cache
backend/src/services/.wwebjs_auth
.git
.gitignore
.env
*.db
*.sqlite
*.log
nssm.exe
*.bat
*.vbs
*.ps1
.vscode
